*~
*.jpg
*.png
*.data
*.o
*.obj
*.exp
*.lib
*.pdb
.send*
*.class
haar
haar.exe
list_data
list_data.exe
normalize
normalize.exe
test_haar_cpu
test_haar_cpu.exe
*.stackdump
convert
libwaveletcuda.so
cudahaar.oct
test_haar_thresh_quantUnif_cpu
test_haar_thresh_quantUnif_cpu.exe
test_compress
test_compress.exe
test_quant_count
test_quant_count.exe
LargeImages
protobuf-2.5.0
protobuf-2.6.0

