*~
*.jpg
*.png
*.data
*.wz
*.o
*.obj
*.exp
*.lib
*.pdb
*.gch
*.ilk
.send*
*.class
haar
haar.exe
list_data
list_data.exe
normalize
normalize.exe
test_haar_cpu
test_haar_cpu.exe
*.stackdump
convert
libwaveletcuda.so
cudahaar.oct
test_haar_thresh_quantUnif_cpu
test_haar_thresh_quantUnif_cpu.exe
test_compress
test_compress.exe
test_compress_cpu
test_compress_cpu.exe
test_compress_gpu
test_compress_gpu.exe
test_quant_count
test_quant_count.exe
LargeImages
protobuf-2.5.0*
protobuf-2.6.0*
wavelet_compress.pb.cc
wavelet_compress.pb.h
test_bit_stream
test_bit_stream.exe
test_huffman
test_huffman.exe
test_rle
test_rl.exe
image_error
image_error.exe
histogram
histogram.exe
test_haar_thresh_quantLog_cpu
test_haar_thresh_quantLog_cpu.exe
test_lloyd
test_lloyd.exe
test_tile_sizes
test_tile_sizes.exe
test_transform
test_transform.exe

