*~
*.jpg
*.png
*.data
*.o
*.obj
*.exp
*.lib
*.pdb
.send*
*.class
haar
haar.exe
list_values
list_values.exe
normalize
normalize.exe
test_haar_cpu
test_haar_cpu.exe
*.stackdump
convert
libwaveletcuda.so
cudahaar.oct
test_haar_thresh_quantUnif_cpu.exe
LargeImages

